<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notes.activity">

    <!-- Permissions required -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- "android:name=com.activeandroid.app.Application" required for ActiveAndroid Initialization purpose -->
    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- The below two configurations are used for ActiveAndroid configuration -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="pickpick.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />

        <!-- Specfying the models here to speed up the startup process -->
        <meta-data
            android:name="AA_MODELS"
            android:value="com.notes.db.models.core.Subject,
                           com.notes.db.models.core.Chapter,
                           com.notes.db.models.core.Module,
                           com.notes.db.models.core.Author,
                           com.notes.db.models.core.SubjectAuthor,
                           com.notes.db.models.core.question_answers.Question,
                           com.notes.db.models.core.question_answers.Answer,
                           com.notes.db.models.core.question_answers.QuestionAnswer,
                           com.notes.db.models.core.question_answers.QuestionOptions,
                           com.notes.db.models.core.question_answers.ModuleQuestionAnswer,
                           com.notes.db.models.ImageStorer" />

        <activity
            android:name="com.notes.ui.activity.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.notes.ui.activity.chapters.ChaptersActivity"
            android:label="@string/title_activity_chapters"
            android:parentActivityName="com.notes.ui.activity.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.notes.ui.activity.main.MainActivity" />
        </activity>
        <activity
            android:name="com.notes.ui.activity.questionanswers.QuestionAnswerActivity"
            android:label="@string/title_activity_question_answer"
            android:parentActivityName="com.notes.ui.activity.chapters.ChaptersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.notes.ui.activity.chapters.ChaptersActivity" />
        </activity>
    </application>

</manifest>
